@import url("https://h0lybear.github.io/heyhey/badges.css");

/* main */
/* Icon fix :before */
div.message > div.msg > div.from > span.un {
    vertical-align: top;
    horizontal-align: left;
}

/* Icon fix */
#user-lists .list.room .user i.icon-chat-dj {
    top: 6px !important;
}

#chat-messages .from .icon,
#chat-messages .from .icon.icon-chat-dj {
    top: unset !important;
}

#waitlist .list .user .name i,
#waitlist .list .user .meta.is-staff .name i.icon-chat-dj {
    top: 2px !important;
}

#user-rollover .info .role i.icon-chat-dj {
    margin-top: unset !important;
}

#user-lists .list.room .user i {
    top: 6px !important;
}

/* RCS Vote Fix */

.community .room-controls {
    z-index: 1 !important;
}

.votes-rs {
    background: rgba(0, 0, 0, 0.75) !important;
}

.community .room-controls--desktop__item .btn-like.clicked {
    animation: rainbow 1s infinite;
}

/* Chat */

#chat .welcome {
    color: #224DE3;
    border-top: #ff0000 2px dotted;
    border-left: #ff0000 2px dotted;
    border-bottom: #ff0000 2px dotted;
    border-right: #ff0000 2px dotted;
}

#chat .log {
    background: rgba(20, 25, 34, 0.78) !important;
}

/* Fade */
#chat .cm {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}

#chat .emote,
#chat .mention,
#chat .message,
#chat .moderation,
#chat .skip,
#chat .system,
#chat .update,
#chat .welcome {
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
    min-width: 100%;
}

/* Inline */
#chat .emote {
    min-height: 0px !important;
    background: rgba(0, 0, 0, 0.0) !important;
}

.emote .msg .text {
    display: inline !important;
    padding-left: 2px !important;
}

.emote .from .un {
    font-style: oblique;
}

.emote.role-dj .text {
    color: #5573FF;
}

.emote.role-bouncer .text {
    color: #55FF59;
}

.emote.role-manager .text {
    color: #55FFAE;
}

.emote.role-cohost .text {
    color: #FF4900;
}

.emote.role-host .text {
    color: #FF004D;
}

.emote.role-ambassador .text {
    color: #00FF35;
}

.emote.role-admin .text {
    color: #ff2d2d;
}

#chat .cm.emote .icon,
#chat .cm.emote .badge-box,
.emote .rs-chat-title,
.emote .rcs-user-info {
    display: none !important;
}

#chat .emote .contents,
.emote .msg .from,
.emote .msg .text {
    display: inline !important;
}

.emote .msg {
    padding: 6px 6px 6px 16px !important;
}

.emote .delete-button {
    padding: 2px 7px 2px 7px !important;
}

/* Moderation Inline */
#chat .moderation {
    min-height: 0px !important;
    background: rgba(0, 0, 0, 0.0) !important;
}

.moderation .msg .text {
    display: inline !important;
    padding-left: 5px !important;
}

#chat .cm.moderation .icon,
#chat .cm.moderation .badge-box,
.moderation .rs-chat-title,
.moderation .rcs-user-info,
.moderation .timestamp {
    display: none !important;
}

#chat .moderation .contents,
.moderation .msg .from,
.moderation .msg .text {
    display: inline !important;
}

.moderation .msg {
    padding: 6px 6px 6px 16px !important;
}

/* Border */
.message.role-dj,
.emote.role-dj {
    border-right: #5573FF 3px solid !important;
}
.message.role-bouncer,
.emote.role-bouncer {
    border-left: #55FF59 3px dotted !important;
    border-right: #55FF59 3px dotted !important;
}

.message.role-manager,
.emote.role-manager {
    border-left: #55FFAE 3px solid !important;
    border-right: #55FFAE 3px solid !important;
}

.message.role-cohost,
.emote.role-cohost {
    border-left: #FF4900 3px solid !important;
    border-right: #FF4900 3px solid !important;
}

.message.role-host,
.emote.role-host {
    border-left: #FF004D 3px solid !important;
    border-right: #FF004D 3px solid !important;
}

.message.role-ambassador,
.emote.role-ambassador {
    border-left: #00FF35 2px dotted !important;
    border-right: #00FF35 2px dotted !important;
}

.message.role-admin,
.emote.role-admin {
    border-top: #ff2d2d 2px dotted;
    border-left: #ff2d2d 2px dotted;
    border-bottom: #ff2d2d 2px dotted;
    border-right: #ff2d2d 2px dotted;
}

.message.role-dj:hover,
.emote.role-dj:hover,
.message.role-bouncer:hover,
.emote.role-bouncer:hover,
.message.role-manager:hover,
.emote.role-manager:hover,
.message.role-cohost:hover,
.emote.role-cohost:hover,
.message.role-host:hover,
.emote.role-host:hover,
.message.role-ambassador:hover,
.emote.role-ambassador:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.message.role-admin:hover,
.emote.role-admin:hover {
    border-left-style: solid;
    border-right-style: solid;
    display: inline-block !important;
}

.message.role-host .msg .text::selection,
.emote.role-host .msg .text::selection,
.message.role-host .msg .text::-moz-selection,
.emote.role-host .msg .text::-moz-selection {
    color: #FF004D;
}

.message.role-cohost .msg .text::selection,
.emote.role-cohost .msg .text::selection,
.message.role-cohost .msg .text::-moz-selection,
.emote.role-cohost .msg .text::-moz-selection {
    color: #FF4900;
}

.message.role-manager .msg .text::selection,
.emote.role-manager .msg .text::selection,
.message.role-manager .msg .text::-moz-selection,
.emote.role-manager .msg .text::-moz-selection {
    color: #55FFAE;
}

.message.role-bouncer .msg .text::selection,
.emote.role-bouncer .msg .text::selection,
.message.role-bouncer .msg .text::-moz-selection,
.emote.role-bouncer .msg .text::-moz-selection {
    color: #55FF59;
}

.message.role-dj .msg .text::selection,
.emote.role-dj .msg .text::selection,
.message.role-dj .msg .text::-moz-selection,
.emote.role-dj .msg .text::-moz-selection {
    color: #5573FF;
}

.message.role-user .msg .text::selection,
.emote.role-user .msg .text::selection,
.message.role-user .msg .text::-moz-selection,
.emote.role-user .msg .text::-moz-selection {
    color: #777f92;
}

/* Custom */

/* H0LYbear */
#user-rollover.id-6623506 .username,
#chat [data-cid^="6623506-"] span.un.clickable {
    animation: rainbow 10s infinite;
}

#user-rollover.id-6623506 .info .role span:after {
    content: ' / Rob0t';
}
.id-6623506 .msg .from i.icon-chat-cohost,
#waitlist .list .user[data-uid="6623506"] .meta.is-staff .name .icon-chat-cohost,
#user-rollover.id-6623506 .info .role i.icon-chat-cohost,
#user-lists .list.room .user.id-6623506 .icon-chat-cohost {
    background: url("https://i.imgur.com/oU8gLQH.png") no-repeat !important;
}
#user-rollover.id-6623506 .meta .thumb {
    border-color: #3e3e3e !important;
}
.id-6623506 .msg .from.cohost .un,
.id-6623506 .from .un,
#chat [data-cid^="6623506-"] span.un.clickable,
#waitlist .list .user[data-uid="6623506"] .meta.is-staff .name .icon-chat-cohost + span,
#user-rollover.id-6623506 .info .role span,
#user-rollover.id-6623506 .meta .username,
#user-lists .list.room .user.id-6623506 .name {
    animation: rainbow 10s infinite !important;
}
#chat .cm.message.id-6623506,
#chat .cm.emote.id-6623506 {
    border-left: #3e3e3e 3px dotted !important;
    border-right: #3e3e3e 3px dotted !important;
}
#chat .cm.message.id-6623506:hover,
#chat .cm.emote.id-6623506:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-6623506 .text {
    animation: rainbow 10s infinite !important;
}

/* fermuarsızceket */
#user-rollover.id-13456067 .username,
#chat [data-cid^="13456067-"] span.un.clickable {
    animation: slyvii 1s infinite !important;
}

#user-rollover.id-13456067 .info .role span:after {
    content: ' / Tumblrcı';
}
.id-13456067 .msg .from i.icon-chat-host,
#waitlist .list .user[data-uid="13456067"] .meta.is-staff .name .icon-chat-host,
#user-rollover.id-13456067 .info .role i.icon-chat-host,
#user-lists .list.room .user.id-13456067 .icon-chat-host {
    background: url("https://i.imgur.com/lTKO1tZ.png") no-repeat !important;
}
#user-rollover.id-13456067 .meta .thumb {
    border-color: #3e3e3e !important;
}
.id-13456067 .msg .from.host .un,
.id-13456067 .from .un,
#chat [data-cid^="13456067-"] span.un.clickable,
#waitlist .list .user[data-uid="13456067"] .meta.is-staff .name .icon-chat-host + span,
#user-rollover.id-13456067 .info .role span,
#user-rollover.id-13456067 .meta .username,
#user-lists .list.room .user.id-13456067 .name {
    animation: slyvii 1s infinite !important;
}
#chat .cm.message.id-13456067,
#chat .cm.emote.id-13456067 {
    border-left: #3e3e3e 3px dotted !important;
    border-right: #3e3e3e 3px dotted !important;
}
#chat .cm.message.id-13456067:hover,
#chat .cm.emote.id-13456067:hover {
    border-left-style: solid !important;
    border-right-style: solid !important;
    display: inline-block !important;
}
.emote.id-13456067 .text {
    animation: slyvii 1s infinite !important;
}

/* Chat Fade */
@keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-moz-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-webkit-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-ms-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

@-o-keyframes fadein
{
    from { opacity: 0; };
    to { opacity: 1; };
}

/* Name Colors - Default */

/* Broadcaster - RED */
@keyframes broadcaster {
    0% { color: #FF0000; }
    100% { color: #FF0000; }
}

/* Twitch Mod - Green */
@keyframes twitchmod {
    0% { color: #14b866; }
    100% { color: #14b866; }
}

/* Default Mod - Purple */
@keyframes defaultmod {
    0% { color: #ac76ff; }
    100% { color: #ac76ff; }
}

/* Bot - Yellow */
@keyframes botcolor {
    0% { color: #f6ff54; }
    100% { color: #f6ff54; }
}

/* Rainbow */
@keyframes rainbow {
    0% { color: #ff0000; }
    10% { color: #ff8000; }
    20% { color: #ffff00; }
    30% { color: #80ff00; }
    40% { color: #00ff00; }
    50% { color: #00ff80; }
    60% { color: #00ffff; }
    70% { color: #0080ff; }
    80% { color: #0000ff; }
    90% { color: #8000ff; }
    100% { color: #ff0080; }
}

/* Bouncer #3e3e3e */
@keyframes bouncerdark {
    0% { color: #3e3e3e; }
    100% { color: #3e3e3e; }
}


/* Bouncer #55FF59 */
@keyframes bouncercolor {
    0% { color: #55FF59; }
    100% { color: #55FF59; }
}

/* Name Colors - Custom */

/* fermuarsızceket - Static Red */
@keyframes slyvii {
    0% { color: #FF0000; }
    100% { color: #FF0000; }
}

/* Discrested - Colored */
@keyframes discrested {
   0% { background-position: 0 0; }
  50% { background-position: 100%; }
 100% { background-position: 0 0; )
}

/* Poggy Woggy */
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
